*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
body{
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 1.8rem; /* 18px */


}
/* Navigation header */
nav{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d54062;
  width: 100%;
  height: 70px;
  box-shadow: 10px 5px 5px black;
}
nav ul{
margin-left: 900px;

}
nav li{
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 20px;

}

nav li a{
  text-decoration: none;
  color: inherit;
  transition: background-color .5s;
}
nav li a :visited{
  text-decoration: none;
  color: inherit;
}
nav li a:hover{
  background-color: #323232;
  padding: 22px 22px 27px 22px;
}

/*Top Section */
.intro-div{
  text-align: center;

}
.major-intro{

  padding-top: 250px;
  font-size: 70px;
  font-weight:200;
  color: white;

}
.minor-intro{
  color: #d54062;
  font-weight:lighter;

}
#welcome-section{
  background-color: #323232;
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}

/*Projects Section*/

h2{
  color: white;
  font-size: 50px;
  font-weight:200;
  color: white;
  text-align: center;
  padding-top: 100px;
}
hr{
  border-style: solid;
  border-color: white;
  text-align: center;
  margin-left: 280px;
  margin-right: 280px;
}
img {
  height: 200px;
  width: auto;
  padding: 50px;

}

.project-tile{
  width: 100%;
  text-align: center;
}
.top-row{
  text-align: center;
  padding-top: 80px;
  display: flex;
  margin-left: 190px;

}
.bottom-row{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  margin-left: 190px;
}

#projects{
  background-color: #d1cebd;
  width: 100%;
  padding-bottom: 50px;
}

.show-btn{
  background-color: #323232;
  border: 0;
  height: 100px;
  width: 100px;
  font-size: 20px;
  border-radius: 12px;



}

.show-btn-a{
  color: white;
  transition: background-color .5s;


}
button a:hover{
  background-color: #d54062;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 11px;
  border-radius: 12px;
  transition: background-color .5s;
}




/*Profiles*/
.profiles{
  background-color: #323232;
  color: white;
  height: 100vh;
}

.profiles-div{
  text-align: center;


}
.profiles-h1{
  font-size: 80px;
  font-weight: lighter;
  padding-top: 200px;

}
.profiles-p{
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
}

.profiles-list-div{
  text-align: center;
  margin-top: 60px;
  margin-right: 100px;
  font-size: 25px;

}

.btn-list{
padding-top: 100px;

}
.profiles-btn{
  display: inline;
  padding-left: 100px;


}

div li a {
  color: white;
}
.fb-logo{
  height: 25px;
  background-color: white;
  padding:0;
  border-radius: 20px;
  position: relative;
  top: 4px;
  right: 5px;


}
.github-logo{
  height: 25px;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 3px;
  right: 5px;
}
.insta-logo{
  height: 25px;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 3px;
  right: 5px;

}
.phone-logo{
  height: 25px;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 3px;
  right: 5px;

}

/* Footer section*/
footer{
  background-color: #323232;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer p{
  display: inline;
  font-size: 15px;
  padding-left: 75px;
}
.bottom-hr{
  border-color: #d54062;
  width: 100%;
  margin-left: 0;
  border-width: 2px;

}
